@mixin desktop() {
    @media (max-width: 600px) {
        @content
      }    
};

@mixin navLink() {
  display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      font-size: 18px;
      font-weight: 600;
      text-shadow: 0px 0px 5px white;
      background-color: rgba(255, 255, 255, 0.945);
      transform: translateX(100%);
      @content;
  
}
