@use "styles" as *;

html{
  background-color: $primaryBackground;
}
h1,h2,h3,h4,h5,h6{
  color: $primaryText;
  font-family: $primaryFont;
}
p, a, strong, b, ul, li {
  color: $secondaryText;
  font-family: $secondaryFont;
}
