@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500;600;700&display=swap');
// gluten has more weights but no more styles
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;700;900&display=swap');
// grandstand has a big choice of weights and styles
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;700;900&display=swap');
@import "_mixins.scss";

@keyframes navLoader {
  0% {
    transform: translateX(100%)
  }
  80%{
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

.toggle__button--opened {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-color: blue;
  color: white;

  &+.links {
    position: absolute;
    top: 78px;
    overflow: hidden;
    margin-right: -10px;
    min-width: 250px;
    z-index: 99;
    a{      
      border-bottom: 1px solid lightgray;
    }

    a:nth-child(1) {
      @include navLink;
      animation: navLoader 600ms ease-in  forwards
    }

    a:nth-child(2) {
      @include navLink;
      animation: navLoader 600ms ease-in 50ms forwards;
    }

    a:nth-child(3) {
      @include navLink;
      animation: navLoader 600ms ease-in 100ms forwards;
    }

    a:nth-child(4) {
      @include navLink;
      animation: navLoader 600ms ease-in 150ms forwards;
    }
  }
}

.toggle__button--closed {
  // position: absolute;
  // right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-color: red;
  color: white;

  &+.links {
    display: none;
  }
}

footer {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
  border-top: 1px solid lightgray;
}

@include desktop() {
  .toggle__button--opened {
    display: none;

    &+.links {
      display: flex;
      justify-content: center;
      width: 100vw;
      border-bottom: 1px solid lightgray;
      box-shadow: 1px 1px 1px lightgray;
      margin-right: 0;
      a{
        margin: 0 5vw;
        border-bottom: none;
      }
    }
  }

  .toggle__button--closed {
    display: none;

    &+.links {
      display: flex;
      justify-content: center;
      width: 100vw;
      border-bottom: 1px solid lightgray; 
      box-shadow: 1px 1px 1px lightgray; 
      a{
        margin: 0 5vw;
        border-bottom: none;
      }
    }
  }



}