@use "styles" as *;


@keyframes buttonAnimation {
  0% {
    // transform: translateX(-173%) translateY(-637%) scale(0);
    transform: translateX(-173%) translateY(-837%);
    opacity: 0;

  }

  // 75% {
  //   width: 225px;
  // }

  100% {
    transform: translateX(0%) translateY(0) scale(1);
    // width: 150px;
    opacity: 1;
  }
}

.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 30px;
  // opacity: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: flex;
  flex-flow: column-reverse;

  .titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $primaryBackground 40%);
    width: 100%;
    padding: 0 30px 30px 30px;
    margin-top: 250px;
    min-height: 273px;

    .logo {
      display: none;
    }

    .features {
      font-family: lemonada;
      font-weight: 500;
      font-size: 17px;
      margin: 20px 0;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .list {
        text-align: center;
        list-style: none;
        max-width: 300px;
        padding: 7px 0;
        border-bottom: 1px solid lightgray;
      }
    }

    .button,
    .buttonFixed {
      @include buttonTrialLesson;
      color: $primaryBackground;
      border-radius: $borderRadius;
      background: $secondaryColor;
      border: 5px solid $primaryBackground;
      outline: 5px solid $secondaryColor;
    }

    .buttonFixed {
      position: fixed;
      bottom: 15px;
      right: 5vw;
      z-index: 99;
      animation: buttonAnimation 2000ms cubic-bezier(0, 0, 0.8, 1.25) forwards;
    }
  }

  h1 {
    margin: 0;
  }
}

.coursesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: auto;
    color: $primaryBackground;

    p {
      max-width: 450px;
    }
  }

  .courses {
    margin: 5px;

    .skills,
    .needs {
      margin: 5px;

      .SpeakingAndListening,
      .writingAndReading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        justify-content: space-evenly;
        padding: 10px;
        border-radius: $borderRadius;
        background: $primaryBackground;
        border: 5px solid $primaryColor;
        outline: 5px solid $primaryBackground;
        // outline-offset: 5px;

      }

      h3 {
        width: 100%;
        margin: 5px;

        &:nth-child(3) {
          text-align: end;
        }
      }

      .course {
        margin: 5px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: rgba(255, 255, 0, 0.650);
      }
    }
  }

}

.peopleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .students {
    flex-wrap: wrap;
  }

  .teacherVideo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .teacher,
  .students {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    h3 {
      width: 100%;
      margin-bottom: 0;
      text-align: center;
    }

    .teacerClassesVideos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border: 5px solid $primaryColor;
      border-radius: 0 40px 0 40px / 0 40px 0 40px;
      padding: 20px 0;

      .classVideo {
        min-height: 130px;
        max-width: 300px;
      }
    }

    .feedback {
      max-width: 350px;
      overflow: hidden;
      margin: 10px;
      overflow: visible;
      // border: 1px solid black;
      border-radius: 50px;
      padding: 15px;

      &:nth-child(3) {
        .feedbackPicture {
          margin: 15px 10px 0 -23px;
          float: left;
        }
      }

      // position: static;
      .feedbackPicture {
        width: 110px;
        height: 110px;
        // border-radius: 50% 50% 10% 50% / 50% 50% 10% 50% ;
        padding: 2%;
        margin: 15px 0px 0 -5px;
        float: right;

        img {
          width: auto;
          height: auto;
          border-radius: 50%;
        }
      }

      .feedbackFooter {
        text-align: end;
      }
    }
  }

}

.pricingContainer {
  max-width: 600px;

  margin: 60px auto;
  text-align: center;

  .pricingContainerHeader {
    font-size: 4rem;

    p {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .pricingContainerLink {
    max-width: 400px;
    font-size: 1.5rem;
    margin: 2rem auto; 
    padding: 10px;
    border-radius: $borderRadius;
    background: $primaryColor;
    border: 5px solid $primaryBackground;
    outline: 5px solid $primaryColor;
    p{
      margin: 0;
    }
  }
  .priceContainerFooter{
    font-size: 1.5rem;
    margin-top: 55px;
  }
}


@media all and (min-width: 361px) and (max-width:768px) {
  .background {
    width: 70vw;
  }

  .peopleContainer {
    .teacherVideo {
      border: 1px solid black;
      padding: 15px;
    }
  }

}


@media all and (min-width: 769px) {
  .background {
    width: 80vw;
    top: unset;
  }

  .container {
    flex-direction: row;
    padding: 0 15vw;
    height: 85vh;
    margin-bottom: 7px;

    .titleContainer {
      width: 50%;
      padding: 30px;
      margin-top: 0;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, $primaryBackground 60%);
      min-height: auto;

      .logo {
        display: block;
        h1{
        font-size:4.5rem;
        color: $secondaryColor;
        }
      }

      .features {
        .list {
          text-align: left;
        }
      }
    }
  }

  .coursesContainer {
    align-items: flex-start;
    padding: 10px;
    position: relative;
    min-height: 500px;
    max-width: 1200px;
    margin: auto;
    background: $primaryBackground;
    border: 1px solid $primaryColor;

    .message {
      width: 48%;
      max-width: 600px;
      justify-content: flex-start;
      min-height: 250px;
    }

    .courses {
      width: 48%;


      .skills {

        .SpeakingAndListening,
        .writingAndReading {
          min-width: 400px;
          width: 50%;
          max-width: 600px;
          background: white;
          border: 5px solid $primaryColor;
          outline: 5px solid white;
        }

        .SpeakingAndListening {
          right: -5px;
          top: -65px;
          position: absolute;
        }

        .writingAndReading {
          position: absolute;
          width: 50%;
          left: -5px;
          bottom: -65px;
        }
      }

      .needs {
        margin-top: 275px;
        margin-left: 100px;
        color: $primaryBackground;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          width: 100%;
        }
      }
    }
  }

  .peopleContainer {
    margin-top: 200px;

    .teacherVideo {
      margin: -370px -100px 0 0;
      // background-color: $primaryColor;
      height: 255px;
      max-width: 312px;
      // border-radius: 40px  40px 0 40px / 40px 40px 0 40px;
      padding: 35px 20px;
      position: relative;

      h3 {
        margin-top: 0;
      }


    }

    .teacher,
    .students {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: inherit;
      max-width: 1205px;
      margin: 10px;

      .teacerClassesVideos {
        align-items: center;
        max-height: 270px;
        border-radius: 0 40px 40px 40px / 0 40px 40px 40px;
      }
      .feedback{
        .feedbackPicture {
          margin: 15px 10px 0 -23px;
          float: left;
        }
      }
    }

    .teacher {
      margin-top: 100px;
    }
  }
}