@import "mixins";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
    opacity: 0.8;
  }
}

@keyframes bigPic1 {
  0% {
    transform: translateX(-10%) scale(0.8);
    opacity: 0.6;

  }

  100% {
    transform: translateX(0%) scale(1);
    opacity: 0.8;
  }
}

@keyframes bigPic2 {
  0% {
    transform: scale(0.5);
    opacity: 0.6;

  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes bigPic3 {
  0% {
    transform: translateX(10%) scale(0.8);
    opacity: 0.6;

  }

  100% {
    transform: translateX(0%) scale(1);
    opacity: 0.8;
  }
}

.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  // opacity: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: flex;
  flex-flow: column-reverse;

  .titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;

    .logo {
      display: none;
    }

    .features {
      font-family: lemonada;
      font-weight: 500;
      font-size: 17px;
      margin: 20px 0;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .list {
        text-align: center;
        list-style: none;
        max-width: 300px;
        padding: 7px 0;
        border-bottom: 1px solid lightgray;
      }
    }

    .button {
      font-family: lemonada;
      font-weight: 500;
      font-size: 17px;
      margin: 15px;
      padding: 10px;
      color: white;
      background-color: red;
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    width: auto;

    .imageBigContainer {
      display: flex;
      width: 100%;
      height: 100px;
      margin-top: 50px;

      .imageBig {
        display: flex;

        &:nth-child(1) {
          justify-content: flex-start;
          margin-left: 7vw;
          animation: bigPic1 5000ms ease-in-out 50ms forwards;
        }

        &:nth-child(2) {
          justify-content: center;
          animation: bigPic2 5000ms ease-in-out 50ms forwards;
        }

        &:nth-child(3) {
          justify-content: flex-end;
          margin-right: 8vw;
          margin-top: -5px;
          animation: bigPic3 5000ms ease-in-out 50ms forwards;
        }
      }
    }

    .imageSmallContainer {
      display: none;

      .imageSmall {
        display: flex;
        margin: 40px 10px;
        animation: reverseSpin 8000ms ease-out 50ms forwards;


        &:nth-child(1) {
          justify-content: flex-end;
        }

        &:nth-child(2) {
          position: relative;
          left: 25px;
        }

        &:nth-child(3) {
          justify-content: flex-start;
        }
      }
    }
  }

  h1 {
    margin: 0;
  }
}

.coursesContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    p{
      max-width: 450px;
    }
  }

  .courses {
    margin: 5px;

    .skills,
    .needs {
      margin: 5px;

      .SpeakingAndListening, .writingAndReading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        justify-content: space-evenly;
        border: 1px solid black;

      }
      h3 {
        width: 100%;
        margin: 5px;
      }

      .course {
        margin: 5px;
        background-color: yellow;
      }
    }
  }

}


@media all and (min-width: 769px) {
  .background{
    width: 80vw;
  }
  .container {
    flex-direction: row;
    padding: 0 15vw;
    height: 85vh;

    .titleContainer {
      width: 50%;

      .logo {
        display: block;
      }

      .features {
        .list {
          text-align: left;
        }
      }
    }

    .imageContainer {
      width: 50%;

      .imageBigContainer {
        position: absolute;
        z-index: 0;
        width: 50%;
        min-height: 85vh;
        padding: 50px;
        flex-direction: column;
        justify-content: center;
      }

      .imageSmallContainer {
        position: relative;
        z-index: 1;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: spin 8000ms ease-out 50ms forwards;
      }
    }

  }
}

