@use "styles" as *;

.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    .dashboardTitle{
        width: 100%;
        text-align: center;
    }
    .dashboardBox{
        margin: 10px;
    height: 200px;
    width: 300px;
    background: rgb(252, 93, 173);
    }
}